@import 'variables';

.detailCont {
  margin-left: 34px;
  width: 100vw;

  h3 {
    font-size: 1.17rem;
    margin-top: 0;
  }

  th,
  td {
    vertical-align: top;
    padding: 5px 10px;
  }

  th {
    white-space: nowrap;
    text-align: left;
    background-color: $color-background;
    border-radius: 4px;
  }

  section {
    margin-bottom: 22px;
  }

  figure {
    float: right;
    text-align: center;
    img {
      max-width: 15vw;
      max-height: 15vh;
    }
    figcaption {
      font-style: oblique;
      font-size: 0.8125rem;
    }
  }
}

.mediaCont {
  display: flex;
  flex-flow: row wrap;
  section:first-of-type {
    width: 350px;
  }
  section {
    min-width: 150px;
  }
}
